@keyframes rotacion {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}


@keyframes color {
    0% {
        background-color: var(--botones);
    }

    50% {
        background-color: #724d44;
    }

    100% {
        background-color: #F3603B;
    }
}


@keyframes color2{
    0% {
        background-color: #ebaa9a;      
    }
    50%{
        background-color: var(--botones);
}
    100% {
        background-color: var(--botones);       
}
}


@keyframes size {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transition-delay: 2s;
        transform: scale(2, 2);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes dsktop{
    from {                  
        transition: transform 0.5s ease-in-out;
        border-radius: 50px;
        padding: 0.7rem 1rem; 
    }    
    to {
        background-color: var(--botones);
        transition-delay: 0.5s ;
        transition: transform 0.5s ease-in-out;
        color: white;
        border-radius: 50px;
        padding: 0.7rem 1rem; 
        box-shadow: 0px 4px 8px rgba(175, 76, 52, 0.5);
    }
}




/* ANIMACIONES */
.hambur:hover {
    animation-name: rotacion;    
    animation-duration: 3s;
}
button:hover {
    animation-name: color;
    animation-duration: 0.5s;
}
.redes i:hover{   
    animation-name: size;
    animation-duration: 1.5s;
    color:#F3603B;
}

.circle:hover {
    animation-name: color2;
    animation-duration: 1.5s;
}
.picture:hover{
    animation-name: size;    
    animation-duration: 3s;
}
.mn-dsktop a:hover{    
animation-name: dsktop;
animation-duration: 4s;    
}



/* OTROS */
.listas a:hover{
    color:#F3603B;
}

